*{
	margin: 0;
	padding: 0;
	box-sizing:border-box;	
	font-family: 'Pathway Gothic One', sans-serif;

}






/* Header */
header{
	height:100vh;
    min-height:400px;
    background-size:cover;
	background-image: linear-gradient(rgba(0, 0, 0, 0.527),rgba(0, 0, 0, 0.5)) ,url("../images/background.jpg");
	
}

.navbar-brand{
	font-size:25px;
	font-family: 'Syncopate', sans-serif;
}

.navbar-nav{
	margin-left:auto;
	font-size:25px;
	
}



.Home{
	padding-top: 200px ;
	text-align: center;
	  	  
}

.name{
	color: white;
	font-size: 40px;
	margin: 3px;
}

.decription{
	color: white;
	font-size: 40px;
	margin: 0px;
}



/*End of header*/



/*My Work*/

.Title{
	padding: 30px;
	font-size: 40px;
	text-align: center;
}

#myWork{
	padding: 50px;
	display:flex;
	justify-content: center;

}

.image{
	position:relative;
	width:100%;
}
.image__img{
	display:block;
	width: 100%;
}

.image__overlay{
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
	background:rgba(black) (0,0,5) ;
	color: black;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	opacity:0;
	transition: opacity 0.25s;
}

.image__overlay--blur{
	backdrop-filter:blur(5px);
}


.image__overlay> * {
	transform: translateY(20px);
	transition: transform 0.25s;
}

.image__overlay:hover{
	opacity:1;
}


.image__title {
	font-size: 2em;
	font-weight: bold;
}

.image__description {
	font-size:1.25em;
	margin-top:0.25em;
	text-align: center;
}

.button {
	transition-duration: 0.4s;
	padding: 10px;
	background-color: Transparent;
    background-repeat: no-repeat;
	border: black 2px solid;
	
	
  }
  
  .button:hover {
	background-color: black; 
	color:  white;
	
  }

  .skill-btn{
	
	  text-decoration:none;
	  color:white
  }

.picture-content{
	display:inline-grid;
	grid-template-columns: 50% 50%;
	grid-gap: 20px;
	overflow:hidden
}
.picture {	
	height: 400px;
	width: 400px;
	object-fit: fill
}

@media all and (max-width: 992px) {
	.picture-content{
	grid-template-columns: 100%;
}
	.picture {
		height:400px;
		max-width: 300px;
	}
}


/*About me */
#About{
	background-color: black;
}

.Title-About{
	color:white;
	font-size: 40px;
	text-align: center;
	padding: 50px;
}

#myPicture{
	max-width:300px;
	max-height:300px;
	border-radius: 50%;
	display: block;
	margin-left: auto;
	margin-right: auto;
}
.description-about{
	color: white;
	padding-top: 50px;
	text-align: center;
	font-size: 1.5rem;
}

#Tech{
	display:flex;
	justify-content: center;
	flex-direction: row;
}



.skills {
	display: block;
	margin-left: auto;
	margin-right: auto;
	padding: 20px;
}


/* Contact */

.social{
	text-align: center;
	font-size: 30px;
}

.b-contact{
	display:block;
	margin-left: auto;
	margin-right: auto;
	width:100px;
	margin-top: 50px;
	margin-bottom: 50px;
	transition-duration: 0.4s;
	padding: 10px;
	background-color: Transparent;
    background-repeat: no-repeat;
	border: black 2px solid;	
	text-decoration: none;
	color:black;
	text-align:center;
}

.b-contact:hover {
	background-color: black; 
	color:  white;	
}

  

.description-contact{
	font-size: 1.5rem;
	text-align:center;
}

.fa {
	padding: 20px;
	width: 50px;
	text-align: center;
	text-decoration: none;
	
  }

.fa:hover {
	opacity: 0.7;
}
  
.fa-facebook {
	color:black;
}

.fa-linkedin {
	
	color: black;
}

.fa-instagram {
	
	color: black;
}

.footer-name{
	text-align:center;
}
  



/* Desktop */
@media only screen and (min-width: 992px){
	header{
		height:100vh;
		min-height:400px;
		background-size:cover;
		background-image: linear-gradient(rgba(0, 0, 0, 0.527),rgba(0, 0, 0, 0.5)) ,url("../images/background.jpg");	
	}
	.navbar-brand{
		font-size:30px;
	}
	.navbar-nav{
		margin-left:auto;
		font-size:30px;
	}
	.Home{
		padding: 200px ;
  		text-align: center;	  
	}
	.name{
		color: white;
		font-size: 60px;
		margin-right: 10px;
	}
	
	.decription{
		color: white;
		font-size: 60px;
	}
	.description-about{
		font-size: 30px;
		width: 50%;
		margin-left: auto;
		margin-right: auto;
	}

	.skills-img{
		display:flex;
		margin-bottom: 50px;
	}
	
	.description-contact{
		width:50%;
		margin-left:auto;
		margin-right:auto;
	}

/* Ipad */
@media only screen and (min-width: 768px){
	header{
		height:100vh;
		min-height:400px;
		background-size:cover;
		background-image: linear-gradient(rgba(0, 0, 0, 0.527),rgba(0, 0, 0, 0.5)) ,url("../images/background.jpg");	
	}
	.navbar-brand{
		font-size:30px;
	}
	.navbar-nav{
		margin-left:auto;
		font-size:30px;
	}
	.Home{
		padding: 300px ;
  		text-align: center;	  
	}
	.name{
		color: white;
		font-size: 60px;
		margin-right: 10px;
	}
	
	.decription{
		color: white;
		font-size: 60px;
	}

	.description-about{
		font-size: 30px;
		width: 50%;
		margin-left: auto;
		margin-right: auto;
	}

	.skills-img{
		display:flex;
		margin-bottom: 50px;
	}
	
	.description-contact{
		width:50%;
		margin-left:auto;
		margin-right:auto;
	}
	
}


}